<div class="jumbotron center">
	
	<h1>Bienvenidos</h1>
	<h3>SISTEMA DE GESTION DE TAREAS DE SPV MM GANDIA </h3>
	<br>

	<p> 
	<%= link_to "Registrate o inicia sesión", "#", class: "btn  btn-danger btn-lg btnx" %></p>

 </div>